<builder-description-cmp inline-template>
    <div class="t-builder-description">
        <h3 class="t-builder-description__title">{{title}}</h3>
        <div class="t-builder-description__text t-html">{{text|raw}}</div>
    </div>
</builder-description-cmp>
