<builder-author-cmp inline-template>
    <div class="t-builder-author">
        <span class="t-builder-author__view">{{view}}</span>
        <span class="t-builder-author__name">{{name}}</span>
    </div>
</builder-author-cmp>
