<comeback-cmp inline-template>
    <div class="t-comeback" @click="onClickComeback">
        <div class="t-comeback__icon"> 
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.4873 1.51318L2.41463 7.58586C1.63358 8.36691 1.63358 9.63324 2.41463 10.4143L8.48731 16.487" stroke="#022855" stroke-width="2"/>
                <path d="M1.9707 9H17.9707" stroke="#022855" stroke-width="2"/>
            </svg>
        </div>
        <div class="t-comeback__content">
            <div class="t-comeback__text">
                <span>{{ t('app.front', 'Вернуться назад') }}</span>
                <span>{{ t('app.front', 'Вернуться назад') }}</span>
            </div>
        </div>
    </div>
</comeback-cmp>
