<link-page-cmp inline-template>
<div class="t-link-page">
    <a href="{{link}}" v-link class="t-link-page__text">
        <span>{{text}}</span>
        <span>{{text}}</span>
    </a>
</div>

</link-page-cmp>
